{% extends "../../Base/views/Base.html" %}


{% block link %}
    <link rel="stylesheet" href="/static/default/style.css"/>
{% end %}

{% block body %}
    我的


  <p><a href="/My/MyPublish"> 我的发布 </a></p>
  <p><a href=""> 我的收藏 </a></p>


 <!--底部-->
    <div data-am-widget="navbar" class="am-navbar am-cf my-nav-footer " id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4 my-footer-ul">
        <li>
          <a href="/Home/" class="">
            <span class="am-icon-home"></span>
            <span class="am-navbar-label">主页</span>
          </a>
        </li>
        <li>
          <a href="/InfoHome/" class="">
            <span class=" am-icon-info"></span>
            <span class="am-navbar-label">信息</span>
          </a>
        </li>
        <li>
          <a href="/ConversationHome/" class="">
            <span class=" am-icon-comments"></span>
            <span class="am-navbar-label">留言</span>
          </a>
        </li>
        <li>
          <a href="/MyHome/" class="">
            <span class="am-icon-user"></span>
            <span class="am-navbar-label">我的</span>
          </a>
        </li>

      </ul>
    </div>
{% end %}
