<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{page_title}} </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="alternate icon" type="image/png" href="/static/amazeui/i/favicon.png">
        <link rel="stylesheet" href="/static/amazeui/css/amazeui.min.css"/>
        <script src="/static/amazeui/js/jquery.min.js"></script>
        <script src="/static/amazeui/js/amazeui.min.js"></script>
        <script src="/static/default/PublicLib.js"></script>

        <!-- endbuild -->

        {% block link %}{% end %}


        {% block appbase_script_link %}{% end %}

        {% block javascript_in_head %}{% end %}

        {% block javascript %}{% end %}


        {% block style %}{% end %}

    </head>
    <body>
    {% block body %}{% end %}
    {% block javascript_in_body %}{% end %}
    </body>
</html>
